.work-controller {
	display: flex;
	align-items: center;
	justify-content: center;
	padding-top: 60px;
}

.work-controller button {
	border: 1px solid #D0021B;
	border-radius: 1px;
	margin: 0 35px;
  font-family: "futura-pt", sans-serif;
	font-weight: 200;
	font-size: 15px;
	text-transform: uppercase;
	padding: 8px 0;
	width: 200px;
}

.work-controller button:hover {
	cursor: pointer;
}

.w-inactive {
	color: #D0021B;
	background-color: white;
}

.w-active {
	color: white;
	background-color: #D0021B;
}

@media screen and (max-width: 750px) {
	.work-controller {
		flex-direction: column;
		padding: 35px 0;
	}

	.work-controller button {
		margin: 10px 0;
	}
	
}