footer {
	height: 107px;
	background-color: black;
	color: white;
	font-size: 14px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 65px;
	/*width: 100vw;*/
}

footer img {
	height: 20px;
	margin-left: 15px;
}

@media screen and (max-width: 750px) {
	footer {
		font-size: 12px;
	}
	footer img {
		height: 16px;
		margin-left: 10px;
	}
	}