.page-404 {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-transform: uppercase;
}

.page-404 h1 {
	font-family: "bodoni-urw",serif;
	font-size: 120px;
	margin: 0;
	margin-top: 40px;
}

.page-404 p {
	margin-top: -10px;
	margin-bottom: 40px;
}

.page-404 img {
	width: 150px;
}

.page-404 button {
	font-family: 'futura-pt', sans-serif;
	font-size: 16px;
	background-color: #d0021b;
	color: white;
	border: none;
	text-transform: uppercase;
	padding: 10px 20px;
	border-radius: 2px;
	transition: ease all 0.2s;
}

.page-404 button:hover {
	cursor: pointer;
	transform: scale(1.1);
}