.form-row {
	margin-bottom: 20px;
}
input:focus, textarea:focus {
	outline: none;
}
input[type="text"],
input[type="email"],
textarea {
    background-color: #E8E8E9;
    border: none;
    resize: none;
    border-radius: 2px;
    padding: 7px;
    font-family: 'futura-pt', sans-serif;
    font-size: 14px;
    width: 100%;
    margin-top: 2px;
}
input[type="submit"] {
	  font-family: 'futura-pt', sans-serif;
    font-size: 17px;
    width: 150px;
		margin: 0;
		padding: 10px;
		border: none;
		color: white;
		background-color: #64B440;
		border-radius: 2px;
		opacity: 0.8;
}

input[type="submit"]:hover {
	cursor: pointer;
	opacity: 1;
}