.comp-logo-row {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	margin: 80px;
}

.comp-logo-row img {
	width: 100px;
	margin: 1rem;
}

@media screen and (max-width: 750px) {
	.comp-logo-row {
		justify-content: center;
	}
	.comp-logo-row img {
		margin: 1rem;
	}
	}