.services-text {
	padding: 0 100px;
	text-align: center;
}

.services-main-copy {
	font-family: "bodoni-urw",serif;
	font-size: 40px;
}

.services-sub-copy {
	font-size: 20px;
	padding: 0 200px;
}

@media screen and (max-width: 803px) {
	.services-text {
		padding: 0 50px;
	}
	.services-main-copy {
		font-size: 26px;
	}
	.services-sub-copy {
		padding: 0;
		font-size: 18px;
	}
}