.contact-page {
	display: flex;
	justify-content: center;
	align-items: flex-start;
}

.contact-half {
	width: 50vw;
	padding: 30px 80px;
}

@media screen and (max-width: 730px) {
	.contact-page {
		flex-direction: column;
	}

	.contact-half {
		width: 80%;
		padding: 10px 20px 35px 20px;
	}
}