.service-card {
	width: 300px;
	height: 225px;
	background-color: white;
	box-shadow: 0 6px 18px 0 rgba(0,0,0,.4);
	border-top: 2px solid #D0021B;
	margin: 3rem;
}

.service-title {
	font-family: "bodoni-urw",serif;
	font-size: 24px;
	text-transform: uppercase;
	padding: 0 20px;
}

.service-desc {
	font-size: 18px;
	padding: 0 20px;
}

@media screen and (max-width: 750px) {
	.service-card {
		width: 80%;
	}
	}