.single-proj-row {
	display: flex;
	align-items: flex-start;
	justify-content: center;
}
.single-proj-left {
	width: 30vw;
	padding: 0 40px;
	position: sticky;
	top: 118px;
	padding-top: 20px;
	margin: 60px 0;
}
.single-proj-right {
	width: 70vw;
	padding: 0 40px;
	margin: 60px 0;
}

.single-proj-right section {
	padding-top: 20px;
	margin-bottom: 45px;
}

.proj-section-header {
	text-transform: uppercase;
	font-family: "bodoni-urw",serif;
	font-size: 20px;
	margin: 0
}

.single-proj-right a {
	text-decoration: none;
}

.full-film-button {
	margin-bottom: 60px;
	font-family: 'futura-pt', sans-serif;
	text-transform: uppercase;
	background-color: #D0021B;
	color: white;
	border: none;
	font-size: 15px;
	padding: 9px 15px;
	width: 150px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	transition: 0.2s ease all;
	border-radius: 2px;
}

.full-film-button:hover {
	cursor: pointer;
	transform: scale(1.1);
}

@media screen and (max-width: 750px) {
	.single-proj-row {
		flex-direction: column;
		align-items: center;
	}
	.single-proj-left {
		display: none;
	}
	}