.nav-logo-content {
	position: relative;
	text-align: center;
}
.nav-logo-content img {
	height: 80px;
	opacity: 0.25;
}

.nav-logo-content p {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-family: "bodoni-urw",serif;
	font-size: 21px;
	margin: 0;
}