.mobile-team-section {
	margin-bottom: 30px;
	display: none;
}

.mobile-members {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
	margin-top: 20px;
}

.mobile-member-section {
	margin-bottom: 10px;
	margin-right: 20px;
}

.mobile-team-section .title {
	text-transform: uppercase;
	font-family: "bodoni-urw",serif;
	font-size: 20px;
	margin: 0
}

.mobile-member-section .mob-title {
	margin: 0;
	margin-bottom: 5px;
	font-weight: bold;
}

.mobile-member-section .name {
	margin: 0;
}

@media screen and (max-width: 750px) {
	.mobile-team-section {
		display: block;
	}
}