.home-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
}

.hp-sub-text {
	padding: 0 69px;
	margin: 0;
	font-size: 18px;
}

.poster-row, .bts-row {
	display: flex;
	align-items: center;
}

.poster-row {
	justify-content: center;
}

.bts-row {
	text-align: left;
	justify-content: space-around;
	margin: 50px;
}

@media screen and (max-width: 750px) {
	.poster-row, .bts-row {
		flex-direction: column;
	}
	}