nav {
	height: 117px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 65px;
	background-color: white;
	position: sticky;
	top: 0;
	z-index: 2000;
}

.nav-on-scroll {
	box-shadow: 0 2px 5px 0 rgba(0,0,0,0.2);
}

nav a {
	color: black;
	text-decoration: none;
	margin: 0 10px;
}

@media screen and (max-width: 750px) {
	nav {
		flex-direction: column;
		justify-content: center;
	}
	}