.team-member {
	color: #4A4A4A;
	margin-bottom: 20px;
}

.team-member .title {
	text-transform: uppercase;
	font-family: "bodoni-urw",serif;
	font-size: 20px;
	margin: 0
}

.team-member .name {
	margin: 0;
}

@media screen and (max-width: 750px) {
	.team-left-nav {
		position: unset;
	}
	}