.loading-screen {
	background-color: #DBDBDB;
	display: flex;
	align-items: center;
	justify-content: center;
	height: calc(100vh - 117px);
	width: 100vw;
	position: fixed;
}

.loading-screen img {
	width: 80px;
	opacity: 0.3;
	animation: 0.8s pulse ease-in-out infinite alternate;
}

@keyframes pulse {
	from {
		transform: scale(1);
		opacity: 0.3;
	}
	to {
		transform: scale(1.2);
		opacity: 0.6;
	}
}