.member-content {
	width: 431px;
	padding: 30px;
}

.member-content img {
	width: 100%;
}

.member-name {
	font-family: "bodoni-urw",serif;
	margin-bottom: 0;
	font-size: 32px;
	text-transform: uppercase;
}

.member-email {
	margin-top: 0;

}

.member-bio {
	font-size: 18px;
	text-align: justify;
}